html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: 0.4em;
}

.fa-star, .fa-star-o {
    color: #ffd700;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 380px;
    min-height: 380px;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.deck .card {
    height: 80px;
    width: 80px;
    background: #472e5f;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e400;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.show {
    font-size: 28px;
}

.deck .card.disable {
    pointer-events: none;
    opacity: 0.9;
}

.deck .card.match {
    cursor: default;
    background: #64dc62;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.unmatch {
    animation-name: shake;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    background: #e2043b;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 14px;
    width: 352px;
    max-width: 352px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.score-panel > div {
    margin: auto;
    text-align: center;
}

.score-panel .lives {
    flex-basis: 25%;
}

.score-panel .moves {
    flex-basis: 20%;
}

.score-panel .moves .moves-elem {
    display: inline-block;
}

.score-panel .moves #moves-number {
    width: 10px;
}

.score-panel .timer {
    flex-basis: 38%;
}

.score-panel .timer .timer-elem {
    display: inline-block;
}

.score-panel .timer #timer-mins {
    width: 10px;
}

.score-panel .timer #timer-secs {
    width: 25px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel p {
    display: inline;
}

.score-panel .lives .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    flex-basis: 14%;
    float: right;
    cursor: pointer;
    font-size: 20px;
}

/*
 * Styles for popup window
 */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.alert {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    text-align: center;
}

.alert h2 {
    text-align: center;
    color: #333;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.alert .close-button {
    width: 100%;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.alert .close:hover {
    color: #E5F720;
}

.alert .content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

/*button to play again*/
#play-again {
    box-sizing: content-box;
    background-color: #1abc9c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
